<!DOCTYPE html>
{% extends 'nav.html' %}
{% block body %}
{% load static %}
  {% for x in data2 %}
  <link rel="stylesheet" href="{% static 'css/arakudesign.css' %}">
    <h1>{{x.placename}}</h1>
    <h2>HISTORY</h2>
    <p>{{x.history}}</p>
    {% endfor %}

    <hr>
    <h2>IMAGES</h2>
    {% for x in image1 %}
     <img src="{{x.img1.url}}" alt="" height="370px" width="420px">
     {% endfor %}
     <hr>
     <h2>VIDEOS</h2>
  {% for x in videodata2 %}
    <video width="620" height="350" controls>
  <source src="{{x.video.url}}" type="video/mp4">
</video>
{% endfor %}
<hr>
<h2> LOCATION</h2>
<a href="https://www.google.com/maps/search/tirupati+tourist+places+list/@13.6516506,79.2937544,12z/data=!3m1!4b1">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7MbRrwlP4MtsSXkIG-XBxvCnAQi5NuzQpqQ&usqp=CAU" alt="" height='620px' width='1280px'> </a>
<h1></h1>
<h1></h1>
{% endblock %}
